{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="jumbotron py-2">
    <h2 class="display-4"> </h2>
    <p class="lead"> <strong>Welcome to our food waste management website!
    </strong>.</p>
    <hr class="my-0">
</div>
<div>
    <style>
        .container{
        width: 70%;
        margin: 0 auto;
        background-color: #f5f5f5;
        }
        
        h1{
        text-align: center;
        padding: 20px;
        color: #3f3f3f;
        font-size: 28px;
        }
        
        p{
        padding: 10px;
        color: #3f3f3f;
        font-size: 16px;
        }
        
        .img{
        max-width: 100%;
        }
        </style>
   
      <p><pre><strong style="text-align:center"><p> We are a team of passionate individuals who are committed to reducing food waste and creating a more sustainable future for all. We believe that everyone has a role
         to play in the fight against food waste, and we are dedicated to providing resources and solutions to help individuals, households, and businesses
          make a positive impact.	</strong>
our journey began when we realized the staggering amount of food that is wasted every day,
 both at the household and business level. We saw an opportunity to create change and make a
  difference, and thus our food waste management program was born.</p>

<p>Our team is made up of experts in the fields of sustainability, environmentalism, and business
 management, who are dedicated to finding innovative solutions to reduce food waste. We are constantly 
 researching and testing new strategies and technologies to ensure that our program is effective and
  up-to-date.</p>

<p>We are proud to offer a comprehensive food waste management program that includes education and awareness,
 practical tools and advice, and consulting services for businesses. By working together, we can make a 
 real difference in the fight against food waste and create a more sustainable future for all.</p>

<b>Thank you for visiting our website and joining us in this important mission. 
    We look forward to working with you to reduce food waste and make a positive 
    impact on the environment and economy.</b>
       

        
                                                           
      </pre> </p>

  </div>

{% endblock body %}